.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 320px);
  height: 4rem;
  background-color: #cc0000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer p {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #ffffff;
}
